


<div class="tech-btm">
	<h4>mail bülteni abone ol </h4>
	<p>Teklonoji ve yazılım ve diğer bloglar  </p>
	<form action="/NewsLetter/addmail/" method="post">
		<input type="email" placeholder="Email" required="" name="mail">
		<input type="submit" value="Subscribe">
	</form>

</div>