@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">selamlar asp.net dereler</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">selamlar asp.net dereleri</a>.</p>
</div>
